/* RESET */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
body {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
}
/* END RESET */
/* GENERAL */
.container {
  *zoom: 1;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}
.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}
.column {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
  float: left;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
@media (max-width: 767px) {
  .column {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .container {
    max-width: 732px;
  }
  .column {
    width: 50%;
  }
}

@media (min-width: 991px) and (max-width: 1024px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.block-section {
  float: left;
  width: 100%;
  clear: both;
}
/* END GENERAL */
/* HEADER */
.main_header {
  float: left;
  width: 100%;
  height: 100px;
  background: #202020;
}
.main_header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.main_header--fixed.is--active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
}
.headerWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  min-height: 100px;
}
.nav-toggle {
  display: none;
}
.main-nav {
  margin-left: auto;
  margin-right: -15px;
}
.main-nav li {
  float: left;
  margin-right: 22px;
}
.main-nav li:last-child {
  margin-right: 0;
}
.main-nav a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  float: left;
  padding: 6px 15px;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.main-nav a:hover {
  background: #e66868;
}
.current-menu-item a {
  background: #e25050;
}
.contact-header {
  position: absolute;
  bottom: -37px;
  right: 0;
  z-index: 5;
}

.contact-header__icon {
  content: " ";
  background: url("assets/phone-icon.png") no-repeat center #bd4141;
  width: 37px;
  height: 37px;
  float: left;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.contact-header__link {
  color: white;
  background: #e25050;
  text-decoration: none;
  padding: 8px 27px;
  float: left;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.contact-header:hover .contact-header__icon,
.contact-header:hover .contact-header__link {
  background-color: #e25050;
}
/* END HEADER */

/* HERO BANNER  /  SLIDER */

.js-slider {
  position: relative;
  overflow: hidden;
  height: 581px;
  width: 100% !important;
}
.js-slider ul {
  position: relative;
  display: block;
  margin: 0;
  height: 581px;
  padding: 0;
  float: left;

  overflow: hidden;
}
.js-slider ul li {
  float: left;
  width: 100vw;
  position: relative;
}
.slide-control {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: rgb(32, 32, 32);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 8px 15px;
  background-position: center;
  float: left;
  cursor: pointer;
  margin-top: -17px;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}
.slide-control:hover {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}
.slider-wrap {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 598px;
}
.slider-container {
  position: relative;
  overflow: hidden;
}

.js-slider .next-slide {
  right: 20px;
  background-image: url(assets/arrow-right.png);
}
.js-slider .prev-slide {
  left: 20px;
  background-image: url(assets/arrow-left.png);
}

.hero-banner-item {
  height: 581px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin-right: -4px;
  position: relative;
  background-attachment: fixed;
}
.hero-banner-item__content {
  float: left;
  width: 100%;
  color: white;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  margin-top: -17px;
}
.hero-banner-item__content span {
  background-color: rgba(226, 80, 80, 0.902);
  text-transform: uppercase;
  padding: 6px 9px 6px 10px;
  float: left;
  clear: both;
  margin-bottom: 2px;
}
.hero-banner-item__content h1,
.hero-banner-item__content p {
  background-color: rgba(32, 32, 32, 0.902);
  float: left;
  clear: both;
  text-transform: uppercase;
}
.hero-banner-item__content h1 {
  font-size: 30px;
  margin-bottom: 2px;
  padding: 10px 32px 11px 32px;
}
.hero-banner-item__content p {
  font-size: 18px;
  padding: 9px 36px 10px 36px;
}

/* END HERO BANNER  /  SLIDER */

/* TRAINER SECTION */
.trainer-section {
  padding-top: 45px;
  padding-bottom: 57px;
  background: url(assets/trainer-bg.jpg) no-repeat center;
  background-size: cover;
  color: white;
  position: relative;
  overflow: hidden;
}
.section-headline {
  float: left;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
  margin-bottom: 65px;
}
.section-headline:after {
  content: " ";
  position: absolute;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  width: 45px;
  height: 1px;
  background: #fff;
}
.trainer-wrap {
  float: left;
  width: 100%;
}
.trainer-item {
  float: left;
  width: 100%;
}
.trainer-item__thumb {
  float: left;
  height: 240px;
  width: 100%;
}
.trainer-item__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.trainer-item__content {
  background: white;
  float: left;
  width: 100%;
  padding: 17px 20px 19px 20px;
}
.trainer-item h4,
.trainer-item span {
  float: left;
  width: 100%;
  text-transform: uppercase;
}
.trainer-item h4 {
  font-size: 14px;
  color: #202020;
}
.trainer-item span {
  font-size: 12px;
  color: #afafaf;
}
/* FLIP */
.trainer-item {
  -webkit-perspective: 700px;
  perspective: 700px;
}

.flip-trainer {
  float: left;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 315px;
}

.flip-trainer__front,
.flip-trainer__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-trainer__back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: white;
}

.flip-trainer:hover {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip-trainer__back {
  padding: 27px 23px;
}
.flip-trainer__back span {
  margin-bottom: 14px;
}
.flip-trainer__back p {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #777;
  line-height: 1.615em;
  text-transform: none;
}

/* END TRAINER SECTION */
